---
title: Modal Verbs
---

<h1>Modal Verbs</h1>

<h2>müssen</h2>

<h3>Present</h3>

<ul>
  <li>Ich <%= hi('muss') %> ins Kino gehen.</li>
  <li>Du <%= hi('musst') %> ein neues Fahrrad kaufen.</li>
  <li>Er/sie/es <%= hi('muss') %> oben sein.</li>
  <li>Wir <%= hi('müssen') %> draussen bleiben.</li>
  <li>Ihr <%= hi('müsst') %> ...</li>
  <li>Sie <%= hi('müssen') %> ...</li>
  <li>Sie <%= hi('müssen') %> ...</lI>
</ul>
