---
title: Modal Verbs
---

<h1>Modal Verbs</h1>
<p>A type of verb that is used to indicate modality – that is, likelihood, ability, permission, and obligation.</p>

<!-- TODO: Past tense -->

<h2>müssen</h2>
<p>To be obliged to, to have to.</p>
<ul>
  <li>Ich <%= hi('muss') %> ins Kino gehen.</li>
  <li>Du <%= hi('musst') %> ein neues Fahrrad kaufen.</li>
  <li>Er/sie/es <%= hi('muss') %> oben sein.</li>
  <li>Wir <%= hi('müssen') %> draussen bleiben.</li>
  <li>Ihr <%= hi('müsst') %> wirklich kalt sein!</li>
  <li><%= abbr 'Sie', 'they / you (form.)' %> <%= hi('müssen') %> nach Hause gehen.</li>
</ul>

<h2>dürfen</h2>
<p>To be allowed to.</p>
<ul>
  <li><%= hi('Darf') %> ich rauchen?</li>
</ul>

<h2>können</h2>
<p>To be able to.</p>
<ul>
  <li>Ich <%= hi('kann') %> das Saxophon spielen.</li>
</ul>

<h2>wollen</h2>
<p>To want.</p>
<ul>
  <li>Ich <%= hi('will') %> ein Pony.</li>
</ul>

<h2>sollen</h2>
<p>Literally: shall. To be expected to.</p>
<ul>
  <li><%= hi('Soll') %> ich zurückgehen?</li>
</ul>

<h2>mögen</h2>
<p>To like.</p>
<ul>
  <li>Ich <%= hi('mag') %> käse.</li>
</ul>

<h2>möchten</h2>
<p>To wish, to desire.</p>
<ul>
  <li>Ich <%= hi('möchte') %> bitte einen Kaffee.</li>
</ul>
