---
title: Reflexive Verbs
---

<p>Verbs where the pronoun refers back to the subject of the sentence.</p>

<h2>Beispiele</h2>
<ul>
  <li>Ich <%= hi('ziehe mich') %> an.</li>
  <li>Ich <%= hi('rasiere mich') %>.</li>
  <li>Du <%= hi('interessierst dich') %> auf Musik.</li>
  <li>Du <%= hi('freust dich') %> auf das Wochenende.</li>
  <li>Er/sie/es habt <%= hi('such') %> im Urlaub <%= hi('erkältet') %>.</li>
  <li>Er <%= hi('macht sich') %> einen Teller Käsespätzle.</li>
  <li>Wir <%= hi('freuen uns') %> auf das nächste Weihnachtsfest.</li>
  <li>Wir <%= hi('sehen uns') %> später.</li>
  <li>Ihr ...</li>
  <li>Ihr ...</li>
  <li>Sie ...</li>
  <li>Sie ...</li>
</ul>

<hr/>
