---
title: Definite Articles
---

<%= render '/table.*', {
  headers: [
    "", "Nom.", "Akk.", "Dat."
  ],
  rows: [
    %w{Mask. der den dem},
    %w{Fem. die die der},
    %w{Neu. das das dem},
    %w{Pl. die die den},
  ]
} %>

<h2>Nominativ</h2>

<ul>
  <li><%= definite_article(der('Student'), :n) %> lernt Deutsch.</li>
  <li><%= definite_article(die('Orange'), :n) %> ist lecker.</li>
  <li><%= definite_article(das('Boot'), :n) %> sinkt.</li>
  <li><%= definite_article(pl('Kinder'), :n) %> spielen.</li>
</ul>

<h2>Akkusativ</h2>

<ul>
  <li>Wir kaufen <%= definite_article(der('Computer'), :a) %>.</li>
  <li>Er tötet <%= definite_article(die('Kuh'), :a) %>.</li>
  <li>Ich habe <%= definite_article(das('Mikrofon'), :a) %>.</li>
  <li>Sie machen <%= definite_article(pl('Hausaufgaben'), :a) %>.</li>
</ul>

<h2>Dativ</h2>

<ul>
  <li>Ich gebe <%= definite_article(der('Mann'), :d) %> <%= definite_article(der('Ball'), :a) %>.</li>
  <li>Ich gebe <%= definite_article(die('Frau'), :d) %> <%= definite_article(der('Ball'), :a) %>.</li>
  <li>Ich gebe <%= definite_article(das('Mädchen'), :d) %> <%= definite_article(der('Ball'), :a) %>.</li>
  <li>Ich gebe <%= definite_article(pl('Kinder'), :d) %> <%= definite_article(der('Ball'), :a) %>.</li>
</ul>
