---
title: Indefinite Articles
---

<table>
  <tr>
    <th></th>
    <th>Nom.</th>
    <th>Akk.</th>
    <th>Dat.</th>
  </tr>
  <tr>
    <th>Mask.</th>
    <td>ein</td>
    <td>einen</td>
    <td>einem</td>
  </tr>
  <tr>
    <th>Fem.</th>
    <td>eine</td>
    <td>eine</td>
    <td>einer</td>
  </tr>
  <tr>
    <th>Neu.</th>
    <td>ein</td>
    <td>ein</td>
    <td>einem</td>
  </tr>
</table>

<!-- TODO: It has no direct form for a plural; in this situation a range of alternatives such as einige (some; several) or manche (some) would be used. -->

<h2>Nominativ</h2>
<ul>
  <li><%= indefinite_article(der('Student'), :n) %> lernt Deutsch.</li>
  <li><%= indefinite_article(die('Orange'), :n) %> ist lecker.</li>
  <li><%= indefinite_article(das('Boot'), :n) %> sinkt.</li>
</ul>

<h2>Akkusativ</h2>
<ul>
  <li>Wir kaufen <%= indefinite_article(der('Computer'), :a) %>.</li>
  <li>Er tötet <%= indefinite_article(die('Kuh'), :a) %>.</li>
  <li>Ich habe <%= indefinite_article(das('Mikrofon'), :a) %>.</li>
</ul>

<h2>Dativ</h2>
<ul>
  <li>Ich gebe <%= indefinite_article(der('Mann'), :d) %> <%= definite_article(der('Ball'), :a) %>.</li>
  <li>Ich gebe <%= indefinite_article(die('Frau'), :d) %> <%= definite_article(der('Ball'), :a) %>.</li>
  <li>Ich gebe <%= indefinite_article(das('Mädchen'), :d) %> <%= definite_article(der('Ball'), :a) %>.</li>
</ul>
