---
title: Perfect Tense
---

<h1>Perfect Tense <span class="de">Perfekt Zeitform</span></h1>

<p>Constructed from <span class="component">Hilfsverb im Präsens</span> and
<span class="component">Partizip II</span>. Talks about the past,
and usually refers to a single event that took place.</p>

<h2>Beispeile</h2>

<ul>
  <li>Ich <%= hi 'habe' %> einen Apfel <%= hi 'gegessen' %>.</li>
  <li>Wir <%= hi 'haben' %> das Fußballspiel zusammen <%= hi 'gesehen' %>.</li>
</ul>

<hr/>

<table>
  <thead>
    <tr>
      <th width="50%">Infinitiv</th>
      <th width="50%">Partizip II</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">Regular verbs, no prefix</td>
    </tr>
    <tr>
      <td>kaufen</td>
      <td><%= hi 'ge' %>kauft</td>
    </tr>
    <tr>
      <td>regnen</td>
      <td><%= hi 'ge' %>regnet</td>
    </tr>
    <tr>
      <td colspan="2">Regular verbs, separable prefix</td>
    </tr>
    <tr>
      <td>einkaufen</td>
      <td>ein<%= hi 'ge' %>kauft</td>
    </tr>
    <tr>
      <td>aufrunden</td>
      <td>auf<%= hi 'ge' %>rundet</td>
    </tr>
    <tr>
      <td colspan="2">Regular verbs, inseparable prefix</td>
    </tr>
    <tr>
      <td>benutzen</td>
      <td>benutzt</td>
    </tr>
    <tr>
      <td>entwickeln</td>
      <td>entwickelt</td>
    </tr>
    <tr>
      <td colspan="2">Verbs ending <i>-ieren</i></td>
    </tr>
    <tr>
      <td>studieren</td>
      <td>studiert</td>
    </tr>
    <tr>
      <td>rotieren</td>
      <td>rotiert</td>
    </tr>
  </tbody>
</table>
