---
title: Perfect Tense
title_de: Perfekt
---

<p>Constructed from <span class="component">Hilfsverb im Präsens</span> and
<span class="component">Partizip II</span>. Talks about the past,
and usually refers to a single event that took place.</p>

<h2>Beispeile</h2>

<ul>
  <li>Ich <%= hi 'habe' %> einen Apfel <%= hi 'gegessen' %>.</li>
  <li>Wir <%= hi 'haben' %> das Fußballspiel zusammen <%= hi 'gesehen' %>.</li>
</ul>

<hr/>

<table>
  <thead>
    <tr>
      <th width="50%">Infinitiv</th>
      <th width="50%">Partizip II</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="row-title" colspan="2">Regular verbs, no prefix</td>
    </tr>
    <tr>
      <td>kaufen</td>
      <td><%= hi 'ge' %>kauf<%= hi 't' %></td>
    </tr>
    <tr>
      <td>regnen</td>
      <td><%= hi 'ge' %>regn<%= hi 'et' %></td>
    </tr>
    <tr>
      <td class="row-title" colspan="2">Regular verbs, separable prefix</td>
    </tr>
    <tr>
      <td>einkaufen</td>
      <td>ein<%= hi 'ge' %>kauf<%= hi 't' %></td>
    </tr>
    <tr>
      <td>aufrunden</td>
      <td>auf<%= hi 'ge' %>rund<%= hi 'et' %></td>
    </tr>
    <tr>
      <td>abholen</td>
      <td>ab<%= hi 'ge' %>hol<%= hi 't' %></td>
    </tr>
    <tr>
      <td class="row-title" colspan="2">Regular verbs, inseparable prefix</td>
    </tr>
    <tr>
      <td>benutzen</td>
      <td>benutz<%= hi 't' %></td>
    </tr>
    <tr>
      <td>entwickeln</td>
      <td>entwickel<%= hi 't' %></td>
    </tr>
    <tr>
      <td class="row-title" colspan="2">Verbs ending <i>-ieren</i></td>
    </tr>
    <tr>
      <td>studieren</td>
      <td>studier<%= hi 't' %></td>
    </tr>
    <tr>
      <td>rotieren</td>
      <td>rotier<%= hi 't' %></td>
    </tr>
    <tr>
      <td>marinieren</td>
      <td>marinier<%= hi 't' %></td>
    </tr>
    <tr>
      <td class="row-title" colspan="2">Strong verbs</td>
    </tr>
    <tr>
      <td>kommen</td>
      <td><%= hi 'ge' %>kommen</td>
    </tr>
    <tr>
      <td>fahren</td>
      <td><%= hi 'ge' %>fahren</td>
    </tr>
    <tr>
      <td>gehen</td>
      <td><%= hi 'ge' %>gangen</td>
    </tr>
    <tr>
      <td>singen</td>
      <td><%= hi 'ge' %>sungen</td>
    </tr>
    <tr>
      <td>stehen</td>
      <td><%= hi 'ge' %>standen</td>
    </tr>
    <tr>
      <td class="row-title" colspan="2">Common</td>
    </tr>
    <tr>
      <td>sein</td>
      <td>gewesen</td>
    </tr>
    <tr>
      <td>haben</td>
      <td>gehabt</td>
    </tr>
    <tr>
      <td>werden</td>
      <td>geworden</td>
    </tr>
  </tbody>
</table>
