---
title: Perfect Tense
title_de: Perfekt
---

<p>Constructed from <span class="component">Hilfsverb im Präsens</span> and
<span class="component">Partizip II</span>. Talks about the past,
and usually refers to a single event that took place.</p>

<h2>Beispeile</h2>

<ul>
  <li>Ich <%= hi 'habe' %> einen Apfel <%= hi 'gegessen' %>.</li>
  <li>Wir <%= hi 'haben' %> das Fußballspiel zusammen <%= hi 'gesehen' %>.</li>
</ul>

<hr class="bb mv4 b--black-10"></hr>

<%= render '/new_table.*', {
  headers: [
    Cell.new("Infinitiv"), Cell.new("Partizip II.")
  ],
  rows: [
    Row.new([Cell.new("Regular verbs, no prefix", span: 2, class: 'ttu f6 black-50')]),
    Row.new(["kaufen", "#{hi 'ge'}kauf#{hi 't'}"]),
    Row.new(["regnen", "#{hi 'ge'}regn#{hi 'et'}"]),
    Row.new([Cell.new("Regular verbs, separable prefix", span: 2, class: 'ttu f6 black-50')]),
    Row.new(["einkaufen", "ein#{hi 'ge'}kauft"]),
    Row.new(["aufrunden", "auf#{hi 'ge'}rundet"]),
    Row.new(["abholen", "ab#{hi 'ge'}holt"]),
    Row.new([Cell.new("Regular verbs, inseparable prefix", span: 2, class: 'ttu f6 black-50')]),
    Row.new(["benutzen", "benutz#{hi 't'}"]),
    Row.new(["entwickeln", "entwickel#{hi 't'}"]),
    Row.new([Cell.new("Verbs ending -ieren", span: 2, class: 'ttu f6 black-50')]),
    Row.new(["studieren", "studier#{hi 't'}"]),
    Row.new(["rotieren", "rotier#{hi 't'}"]),
    Row.new(["marinieren", "marinier#{hi 't'}"]),
    Row.new([Cell.new("Strong verbs", span: 2, class: 'ttu f6 black-50')]),
    Row.new(["kommen", "#{hi 'ge'}kommen"]),
    Row.new(["fahren", "#{hi 'ge'}fahren"]),
    Row.new(["gehen", "#{hi 'ge'}gangen"]),
    Row.new(["singen", "#{hi 'ge'}sungen"]),
    Row.new(["stehen", "#{hi 'ge'}standen"]),
    Row.new([Cell.new("Common", span: 2, class: 'ttu f6 black-50')]),
    Row.new(["sein", "gewesen"]),
    Row.new(["haben", "gehabt"]),
    Row.new(["werden", "geworden"])
  ]
} %>
