---
title: Pluperfect Tense
---

<h1>Pluperfect Tense <span class="de">Plusquamperfekt</span></h1>

<p>User to descrip something that had happened, or had been true at a point
in the past. Often recognised in English by the word "had". For example:
I had forgotten to brush my teeth.</p>

<p>Constructed from <span class="component">Hilfsverb im Präteritum</span>
and <span class="component">Partizip II</span>.

<h2>Beispeile</h2>

<ul>
  <li>Wir <%= hi 'waren' %> schon <%= hi 'gegessen' %>.</li>
  <li>Ich <%= hi 'hatte' %> schon das Buch <%= hi 'gelesen' %>.</li>
</ul>

<hr/>

<p>Plusquamperfekt is always used when referring to an event in the past
that happened before <i>another</i> event in the past.</p>

<p>The event that came first uses <span class="component">Plusquamperfekt</span>,
and the event after that uses <span class="component">Präteritum</span>
or <span class="component">Perfekt</span>.

<h2>Beispeile</h2>

<ul>
  <li>Nachdem er das Ticket <%= hi 'gekauft hatte' %>, ist er nach Amerika geflogen.</li>
</ul>
