---
title: Present Tense
title_de: Präsens
---

<p>There are two forms in English: one for things happening right now, and one
for things that happen all the time. German uses the same for both.</p>

<p>Things happening now:</p>

<ul>
  <li>Es <%= hi 'schneit' %>.</li>
  <li>Sie <%= hi 'spielen' %> Hockey.</li>
</ul>

<p>Things that happen all the time:</p>

<ul>
  <li>Hier <%= hi 'schneit' %> es viel.</li>
  <li>Freitags <%= hi 'spielen' %> wir Hockey.</li>
</ul>

<p>In both English and German, you can use the present tense to talk about
something that will happen in the near future:</p>

<ul>
  <li>Morgen <%= hi 'fliege' %> ich nach London.</li>
  <li>Wir <%= hi 'verlassen' %> um 18 Uhr.</li>
</ul>
