---
title: Home
---

<h1>Definite Articles</h1>

<h2>Nominativ</h2>
<p>The subject of a sentence. <i>Who</i> or <i>what</i> is doing this?</p>

<ul>
  <li><%= nom 'der', 'Student' %> lernt Deutsch.</li>
  <li><%= nom 'die', 'Orange' %> ist lecker.</li>
  <li><%= nom 'das', 'Boot' %> sinkt.</li>
  <li><%= nom 'die', 'Kinder' %> spielen.</li>
</ul>

<h2>Akkusativ</h2>
<p>The direct object of a sentence. <i>Who</i> or <i>what</i> is being <i>verbed</i>?</p>

<ul>

  <li>Wir kaufen <%= akk 'der', 'Computer' %>.</li>
  <li>Er tötet <%= akk 'die', 'Kuh' %>.</li>
  <li>Ich habe <%= akk 'das', 'Mikrofon' %>.</li>
  <li>Sie machen <%= akk 'die', 'Hausaufgaben' %>.</li>
</ul>


<h2>Dativ</h2>
<p>The indirect object of a sentence. The beneficiary of whatever happens in a sentence. Ask yourself: <i>to</i> whom or <i>for</i> whom is this being done?</p>

<ul>
  <li>Ich gebe <%= dat 'der', 'Mann' %> den Ball.</li>
  <li>die &rarr; der</li>
  <li>Er schenkte <%= dat 'das', 'Mädchen' %> das Buch.</li>
  <li>pl &rarr; den</li>
</ul>
