---
title: Pronouns
---

<h1>Pronouns</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Nom.</th>
      <th>Akk.</th>
      <th>Dat.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>I</th>
      <td>ich</td>
      <td>mich</td>
      <td>mir</td>
    </tr>
    <tr>
      <th>You <span class="quiet">(inf. sing.)</span></th>
      <td>du</td>
      <td>dich</td>
      <td>dir</td>
    </tr>
    <tr>
      <th>He</th>
      <td>er</td>
      <td>ihn</td>
      <td>ihm</td>
    </tr>
    <tr>
      <th>She</th>
      <td>sie</td>
      <td>sie</td>
      <td>ihr</td>
    </tr>
    <tr>
      <th>It</th>
      <td>es</td>
      <td>es</td>
      <td>ihm</td>
    </tr>
    <tr>
      <th>We</th>
      <td>wir</td>
      <td>uns</td>
      <td>uns</td>
    </tr>
    <tr>
      <th>You <span class="quiet">(inf. pl.)</span></th>
      <td>ihr</td>
      <td>euch</td>
      <td>euch</td>
    </tr>
    <tr>
      <th>They</th>
      <td>sie</td>
      <td>sie</td>
      <td>ihnen</td>
    </tr>
    <tr>
      <th>You <span class="quiet">(form.)</span></th>
      <td>Sie</td>
      <td>Sie</td>
      <td>Ihnen</td>
    </tr>
  </tbody>
</table>

<h2>Examples</h2>

<h3>I</h3>
<ul>
  <li><%= nom('Ich') %> heiße Sam.</li>
  <li><%= nom('Ich') %> bin 28 Jahre alt.</li>
  <li><%= nom('Ich') %> wohne in Berlin.</li>
  <li>Liebst du <%= akk('mich') %>?</li>
  <li>Bitte ruf <%= akk('mich') %> an.</li>
  <li>Geh ohne <%= akk('mich') %>.</li>
  <li><%= dat('Mir') %> ist kalt.</li>
  <li>Gib <%= definite_article(der('Ball'), :a) %> zu <%= dat('mir') %>.</li>
  <li><%= nom('Es') %> gehört <%= dat('mir') %>.</li>
</ul>

<h3>You <span class="quiet">(inf. sing.)</span></h3>
<ul>
  <li><%= nom('Du') %> siehst müde aus.</li>
  <li>Gehst <%= nom('du') %> nach Hause?</li>
  <li>Kommst <%= nom('du') %> mit?</li>
  <li>Das ist für <%= akk('dich') %>.</li>
  <li>Ich warne <%= akk('dich') %>!</li>
  <li>Es gibt ein Brief für <%= akk('dich') %>.</li>
  <li><%= nom('Ich') %> werde mit <%= dat('dir') %> gehen.</li>
  <li><%= nom('Ich') %> gebe <%= dat('dir') %> <%= definite_article(das('Geschenk'), :a) %>.</li>
  <li>Alles gut bei <%= dat('dir') %>?</li>
</ul>

<h3>He</h3>
<ul>
  <li><%= nom('Er') %> ist schön.</li>
  <li>Ist <%= nom('er') %> ein Polizist?</li>
  <li><%= nom('Er') %> gab keine Antwort.</li>
  <li>Hast <%= nom('du') %> <%= akk('ihn') %> gesehen?</li>
  <li><%= nom('Ich') %> habe nicht für <%= akk('ihn') %> gewählen.</li>
  <li>Bitte <%= akk('ihn') %> herein!</li>
  <li><%= nom('Es') %> gehört zu <%= dat('ihm') %>.</li>
  <li><%= nom('Wir') %> laufen neben <%= dat('ihm') %>.</li>
  <li><%= nom('Der Kühlschrank') %> ist hinter <%= dat('ihm') %>.</li>
</ul>

<h3>She</h3>
<ul>
  <li><%= nom('Sie') %> war nicht da.</li>
  <li>Wird <%= nom('sie') %> bald kommen?</li>
  <li><%= nom('Sie') %> ist nicht sehr freundlich.</li>
  <li><%= nom('Ich') %> hasse <%= akk('sie') %>!</li>
  <li><%= nom('Wir') %> sollten <%= akk('sie') %> fragen.</li>
  <li><%= nom('Sie') %> sollten <%= akk('sie') %> reinigen.</li>
  <li>Hast <%= nom('du') %> mit <%= dat('ihr') %> gesprochen?</li>
  <li><%= nom('Wir') %> sitzen neben <%= dat('ihr') %>.</li>
  <li><%= nom('Ich') %> gab das Telefon nicht zu <%= dat('ihr') %>.</li>
</ul>

<h3>It</h3>
<ul>
  <li><%= nom('Es') %> was ein schöner Abend.</li>
  <li>Ist <%= nom('es') %> eine schlechte Nachricht?</li>
  <li>Wir haben <%= akk('es') %> nicht gesehen.</li>
  <li><%= akk('es') %></li>
  <li><%= dat('ihm') %></li>
  <li><%= dat('ihm') %></li>
</ul>

<h3>We</h3>
<ul>
  <li><%= nom('Wir') %> lernen Deutsch.</li>
  <li>Sollen <%= nom('wir') %> zu Berghain gehen?</li>
  <li>Ich hoffe, dass <%= nom('wir') %> nicht zu spät kommen.</li>
  <li>Wir interessieren <%= akk('uns') %> für Katzen.</li>
  <li><%= nom('Ich') %> denke, <%= nom('es') %> ist hinter <%= dat('uns') %>.</li>
</ul>

<h3>You <span class="quiet">(inf. pl.)</span></h3>
<ul>
  <li><%= nom('Ihr') %> seid wünderbar!</li>
  <li><%= akk('euch') %></li>
  <li><%= dat('euch') %></li>
</ul>

<h3>They</h3>
<ul>
  <li><%= nom('Sie') %> sind Männer.</li>
  <li><%= akk('sie') %></li>
  <li><%= dat('ihnen') %></li>
</ul>

<h3>You <span class="quiet">(form.)</span></h3>
<ul>
  <li>Verkaufen <%= nom('Sie') %> Brot?</li>
  <li><%= nom('Ich') %> habe <%= akk('Sie') %> nicht hier gesehen.</li>
  <li>Kann <%= nom('ich') %> <%= dat('Ihnen') %> helfen?</li>
</ul>
