---
title: Adjective Declension
---

<h2>Definite article</h2>

<%= render '/table.*', {
  headers: [
    "", "Nom.", "Akk.", "Dat.", "Gen."
  ],
  rows: [
    %w{Mask. -e -en -en -en},
    %w{Fem. -e -e -en -en},
    %w{Neu. -e -e -en -en},
    %w{Pl. -en -en -en -en},
  ],
} %>

<!-- TODO: Expand examples to full sentences -->

<h3>Nom.</h3>
<ul>
  <li>der <%= hi 'nette' %> Mann</li>
  <li>die <%= hi 'nette' %> Frau</li>
  <li>das <%= hi 'nette' %> Kind</li>
  <li>die <%= hi 'netten' %> Leute</li>
</ul>

<h3>Akk.</h3>
<ul>
  <li>den <%= hi 'netten' %> Mann</li>
  <li>die <%= hi 'nette' %> Frau</li>
  <li>das <%= hi 'nette' %> Kind</li>
  <li>die <%= hi 'netten' %> Leute</li>
</ul>

<h3>Dat.</h3>
<ul>
  <li>dem <%= hi 'netten' %> Mann</li>
  <li>der <%= hi 'netten' %> Frau</li>
  <li>dem <%= hi 'netten' %> Kind</li>
  <li>den <%= hi 'netten' %> Leute</li>
</ul>

<h2>Indefinite article</h2>

<%= render '/table.*', {
  headers: [
    "", "Nom.", "Akk.", "Dat.", "Gen."
  ],
  rows: [
    %w{Mask. -er -en -en -en},
    %w{Fem. -e -e -en -en},
    %w{Neu. -es -es -en -en},
    %w{Pl. -e -e -en -er},
  ],
} %>
