---
title: Adjective Declension
---

<h2>Definite article</h2>

<table>
  <tr>
    <th></th>
    <th>Nom.</th>
    <th>Akk.</th>
    <th>Dat.</th>
    <th>Gen.</th>
  </tr>
  <tr>
    <th>Mask.</th>
    <td>-e</td>
    <td>-en</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Fem.</th>
    <td>-e</td>
    <td>-e</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Neu.</th>
    <td>-e</td>
    <td>-e</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Pl.</th>
    <td>-en</td>
    <td>-en</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
</table>

<!-- TODO: Expand examples to full sentences -->

<h3>Nom.</h3>
<ul>
  <li>der <%= hi 'nette' %> Mann</li>
  <li>die <%= hi 'nette' %> Frau</li>
  <li>das <%= hi 'nette' %> Kind</li>
  <li>die <%= hi 'netten' %> Leute</li>
</ul>

<h3>Akk.</h3>
<ul>
  <li>den <%= hi 'netten' %> Mann</li>
  <li>die <%= hi 'nette' %> Frau</li>
  <li>das <%= hi 'nette' %> Kind</li>
  <li>die <%= hi 'netten' %> Leute</li>
</ul>

<h3>Dat.</h3>
<ul>
  <li>dem <%= hi 'netten' %> Mann</li>
  <li>der <%= hi 'netten' %> Frau</li>
  <li>dem <%= hi 'netten' %> Kind</li>
  <li>den <%= hi 'netten' %> Leute</li>
</ul>

<h2>Indefinite article</h2>

<table>
  <tr>
    <th></th>
    <th>Nom.</th>
    <th>Akk.</th>
    <th>Dat.</th>
    <th>Gen.</th>
  </tr>
  <tr>
    <th>Mask.</th>
    <td>-er</td>
    <td>-en</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Fem.</th>
    <td>-e</td>
    <td>-e</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Neu.</th>
    <td>-es</td>
    <td>-es</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Pl.</th>
    <td>-e</td>
    <td>-e</td>
    <td>-en</td>
    <td>-er</td>
  </tr>
</table>
