<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %> | Deutsch</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" href="/images/apple-touch/icon.png">
  </head>
  <body>
    <header>
      <a id="home" href="/">Home</a>
      <% if @item[:title_de] %>
        <h1><%= @item[:title_de] %></h1>
        <h2><%= @item[:title] %></h2>
      <% else %>
        <h1><%= @item[:title] %></h1>
      <% end %>
    </header>
    <div id="main">
      <%= yield %>
    </div>
  </body>
</html>
