<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title><%= @item[:title] %> &middot; Deutsch</title>
    <link rel="stylesheet" href="/stylesheet.css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <meta name="generator" content="Nanoc <%= Nanoc::VERSION %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <meta name="google" content="notranslate"></meta>
    <meta charset="utf-8"></meta>
  </head>
  <body class="sans-serif w-100 black-70 pb5">
    <nav class="bb b--black-10 pv3 mb3">
      <div class="mw8 center ph3">
        Deutsch
        <span class="mr1 ml1">&middot;</span>
        <a href="/">Home</a>
      </div>
    </nav>
    <header class="mw8 center ph3 pv3">
      <h1 class="f2 ma0 f1-ns"><%= @item[:title] %></h1>
      <h2 class="f3 black-30 fw4 ma0 f2-ns"><%= @item[:title_de] %></h2>
    </header>
    <article class="mw8 center ph3">
      <div class="f5 f4-ns lh-copy <%= container_class %>">
        <%= yield %>
      </div>
    </article>
    <div class="cf"></div>
  </body>
</html>
